*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container {
	margin: 0 auto;
	width: 1000px;
}

.canvas {
	width: 1000px;
	height: 1000px;
	display: flex;
	flex-wrap: wrap;
}

.pixel {
	border: 1px solid black;
	aspect-ratio: 1 / 1;
}

.footer {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
}

.color {
	width: 25px;
	aspect-ratio: 1 / 1;
	border: 1px solid black;
}